
h1 hello World

a(href='/regAndFirstuser') firsttime user?
br
a(href='/allDocsPage') click here if you are a doctor


//- //When the user clicks this his username will be removed from the redis and the cookies and will be redirected 
form(method='POST' action='/doc/logout')
    button(type='submit') logout
    