
head
    title My Site
    link(rel='stylesheet', type='text/css', href='/css/mainCss.css')
    //-   src="https://code.jquery.com/jquery-3.3.1.min.js"
//-   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
//-   crossorigin="anonymous"
body
    if userName
        h1 Welcome #{userName}
        a(href='/allDocsPage') Doctor's Dashboard
        //- //When the user clicks this his username will be removed from the redis and the cookies and will be redirected 
        form(method='POST' action='/doc/logout')
            button(type='submit') logout
        
    else
        h1 Book Your Doctor Appointment 
        a(href='/allPatientPage') click here if you are a patient
        br
        a(href='/allDocsPage') click here if you are a doctor

    
