//- This 
form(method='POST' action='/regAndBookPatient')
  div
    label(for='username') username:
    input(type='text'  placeholder='username' name='username')
  div
    label(for='password') Password
    input(type='password' placeholder='password' name='password')
  div
    label(for='name') name
    input(type='text' placeholder='name' name='name')
  div
    label(for='email') email
    input(type='email' placeholder='email' name='email')
  div
    label(for='phno') phno
    input(type='text' placeholder='phno' name='phno')
  div
    label(for='gender') gender
    input(type='text' placeholder='genderSingleLetter' name='gender')
  div
    label(for='DOB') DOB
    input(type='text' placeholder='Date Of Birth' name='DOB')
  div
    label(for='adderess') Address
    input(type='text' placeholder='address' name='address')
  div
    label(for='specilization') specilization
    input(type='text' placeholder='specilization' name='specilization')
  div
    label(for='Time') Time
    input(type='text' placeholder='Time the doctor is available interavel' name='time')
  div
    label(for='Duration') Duration
    input(type='text' placeholder='Duration of the visit' name='duration')
  div
    label(for='Note') Note
    input(type='text' placeholder='Note' name='note')
          
  button(type='submit') Log in         